// bower:scss
// endbower
@import 'normalize-scss/normalize.scss';
@import 'font';
@import 'utils';

html,
body {
  height: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ebece9;
}

.sidebar {
  width: 50%;
  height: 100%;
  position: absolute;
  clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
  background: #373c4e;
  left: 0;
  bottom: 0;
  z-index: 1010;
}

.poly {
  font: 60px;
  background-size: 100%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("../images/poly.svg");
  left: 17%;
  bottom: 0;
  width: 70%;
  height: 100%;
  z-index: 1000;
}

.card {
  color: #fff;
  font-family: Roboto;
  padding: 30px;
  a {
    color: #fff;
  }
  > div {
    margin: 10px;
  }
}

.card-title {
  font-size: 60px;
  text-transform: uppercase;
}

.card-subtitle {
  font-size: 30px;
  text-transform: uppercase;
}

.list-inline {
  margin: 0;
  padding: 0;

  & > li {
    display: inline-block;
    list-style-type: none;
  }
}

.icon {
  font-size: 40px;
}
